@media screen and (max-width: 719px) {

  * {
    flex-flow:column;
  }
  
  form.combo * {
    margin-bottom:0;
    width:100%;
  }
  
  form.combo {
    margin-bottom:20px;
  }
  
  nav ul {
    overflow-y:hidden;
  }

  nav > ul > li {
    float:none;
    display:block;
    width:100%;
    text-align:left;
  }

  dl {
    margin:0;
    margin-top:10px;
    width:100%;
  }

  dt {
    padding:3%;
  }

  dd {
    padding:3%;
  }
  
  #search,#profile {
    left:-100%;
    width:100%;
    max-width:300px;
  }


  /**** Stili per la pagina di login/registrazione ****/
  #loginSection {
    width:100%;
    padding-top:1%;
  }

  #registerSection {
    width:100%;
  }

  #loginForm, #registerForm {
    width:90%;
  }


  .fragmentContainer > .controllerBar {
    flex-flow:column;
  }


  table.userTable td {
    display:block;
    padding:2%;
  }

  table.userTable th {
    display:none;
  }

  table.userTable td:before {
    background-color:tomato;
    color:white;
    display:block;
    width:100%;
    content:attr(data-heading);
    padding:1%;
    box-sizing:border-box;
    text-align:center;
    margin-bottom:1%;
  }
  
  table.userTable tr {
   display:block;
   border-bottom:2px dashed tomato;
  }


  #description {
    width:100%;
    background-color:white;
    padding:5%;
    margin-top:1em;
  }

  .documentList > li  div.title {
    top:80%;
  }

  .documentList .stars {
    top:0%;
  }

  .reviewList {
    list-style:none;
    padding:0;
    margin:0; 
  }
  

  .controllerBar > .controller {
   border-bottom:0px;
   border-right:1px solid tomato;
  }

  .controllerBar > .controller:last-child {
   border-right:1px solid tomato;
   border-bottom: 1px solid tomato;
  }
  
  div.fileInput.fileUploader {
    width:100%;
    box-sizing:border-box;
  }
  
  div.fileInput.pictureInput {
    float:none;
    margin-left:auto;
    margin-right:auto;
  }
  
  div.left,div.right {
    float:none;
    min-width:100%;
  }
  
  dl.left {
    float:none;
    min-width:100%;
  }
  
  #registerSection .prettyButton, .prettyButton {
      width:100%;
  }
}

@media screen and (min-width: 720px) {
  #navToggle {
    display:none;
  }

  
  aside#profile {
    left:-300px;
  }

  aside#search {
    left:-300px;
  }

  .controllerBar > .controller {
   width:100%
  }


}